body {
    background-color: #EEE;
    font-family: 'Verdana',Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #008183;
}

h1, h2, h3  {
  margin: 0;
  padding: 10px;
}

#container {
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right:auto;
}

#header {
    background-color: #18453B;
    color: white;
    text-align: center;
    padding: 10px;
}

#content {
  padding: 10px;
}

#nav {
  width: 150px;
  float: left;
  padding: 20px;
  background-color: #97A2A2;
}

#nav ul {
  list-style-type: none;
  padding: 0;
}


#nav .selected {
  font-weight: bold;
}

#main {
  width: 750px;
  float: right;

}

#student-group {
  clear: both;
  margin: 20px;
  border: 20px;
  padding: 10px;
  background-color:  #d3d3d3;
  color: black;
  text-align: left;
}
table {
	width: 50%;
	border: 5px solid black;
}

th, td {
	border: 1px solid black;
	padding: 15px;
	background-color: #97a2a2;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: #18453B;
  color: white;
  text-align: right;
}

/*schedule nav bar*/ 
.navgroup {
	list-style: none;
	background-color: #18453B;
	text-align: center;
	padding: 0;
	margin: 0;
}

.nav li {
	display:inline-block;
	font-family: 'Arial';
	font-size: 1.2em;
	letter-spacing: 0.05em;
	line-height:40px;
	height: 40px;
	border-bottom: 1px solid #888;
	padding-right:50px;
	padding-left: 50px;
}
	
.nav a{
	text-decoration:none;
	color: #f7f7ff;
	display: block;
	transition: .3s background-color;
	
}

.nav li:link{
	text-decoration:none;
}

.nav li:visited{
	text-decoration:none;
}

.nav li:hover {
	background-color: #6d7373;
}

.nav li.current-page {
	background-color: #97a2a2;
	color: #444;
	cursor: default;
}
/*schedule nav bar end*/

/*student group grid*/
.groupBox {
/*   background-color: #00ee99; */
}

.groups {
  display: grid;
  grid-template-columns: 1/5;
  grid-column-gap: 5px;
}

#group1 {
  grid-column: 1;
  background-color: #97A2A2;
}

#group2 {
  grid-column: 2;
    background-color: #97A2A2;
}

#group3 {
    background-color: #97A2A2;
  grid-column: 3;
}

#group4 {
    background-color: #97A2A2;
  grid-column: 4;
}

#group5 {
    background-color: #97A2A2;
  grid-column: 5;
}
/*student group grid end*/

.schedule-date {
  font-weight: bold;
  color: black;
  text-align: right;
}
.schedule-resources {
  font-weight: lighter;
  color: black;
  text-align: left;
}